@charset "utf-8";

/* - Reset - */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 16px/22px 'Roboto', sans-serif;
    font-size: 1em;
    color: #7f7f7f;  
    background-color: rgb(255, 255, 255, 0);
    position: relative;
}

a {
    text-decoration: none;
    color: #7f7f7f;
}

/* - Raster - */
.wrapper {
    width: 80%;
    margin: 0 auto;  
}
.col_1_4 {
    width: 25%;
    float: left;
}
.col_1_5 {
    width: 20%;
    float: left;
    border-right: 1px solid #2eaf2e;
}
.col_4_5 {
    width: 80%;
    float: left;
}

/* - Header - */
#header {
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header #red, #header #green {
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 1;
}
#header #green {
    bottom: 0;
    background-color: #2eaf2e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
#header #red {
    background-color: #f53a3a;
    top: 0;
}
#header ul#navigation img {
    margin-right: 5px;
}
#paprika {
    position: absolute;
    top: 52px;
    left: 35%;
}
#header h1  {
    font: 32px/36px 'Cabin Sketch', cursive;
    font-size: 2.5em;
    text-shadow: 0px 0px 1px #7f7f7f;
}
#navi-box {
    width: 600px;
}
ul#navigation {
    display: flex;
    align-items: center;
}
ul#navigation li {
    list-style: none;
    display: inline-block;
    margin-left: 6%;
    font-size: 16px;
    font-weight: 400;
    font-size: 1em;
    position: relative;
    text-transform: uppercase;
}
ul#navigation li a {
    display: inline-block;
    border-radius: 3px;
    transition: 0.3s;
    padding: 0 10px 2px;
    letter-spacing: 1px;
    background: #fff;
}
ul#navigation li a:hover, .active {
    box-shadow: 2px 2px 3px 0px #7f7f7f;
    color: red;
    transition: 0.3s;
    transform: translateY(-3px);
    background: #fff;
}
ul#lang-dd {
    display: none;
    position: absolute;
    z-index: 3;
    top: 23px;
    left: -45px;
    width: 50px;
}
ul#navigation li:hover ul#lang-dd {
    display: inline-block;
}
ul#lang-dd li {
    background: #fff;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
}
.info-box-header {
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 300;
}
#green img {
    margin-right: 10px;
}
#green a {
    color: #fff;
}
/* - Mobile Navigation - */
#mobile-dropdown {
    display: none;
}
#ham-icon {
    display: none;
}
#close-icon {
    display: none;
}

/* - Side section - */
.col_1_5 h2 {
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 24px;
    font-size: 1.5em;
    font-weight: 400;
    margin: 70px auto;
    color: #f53a3a;
}
.col_1_5 h3 {
    font-weight: 400;
}
.col_1_5 h2 a:hover {
    transform: translateY(10px);
}
.product-box {
    margin: 0 auto 45px;
    width: 60%;
    height: 270px;
    box-shadow: 0px 0px 3px 0px #f53a3a;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
.product-box:last-child {
    margin-bottom: 205px;
}
.product-box img {
    max-width: 100%;
}
.old-price {
    text-decoration: line-through;
    font-size: 18px;
    margin: 0 10px;
}
.new-price {
    color: #f53a3a;
    font-size: 22px;
    font-weight: 600;

}
/* - Main content - */
#main .wrapper h1 {
    text-align: center;
    margin: 85px 0 120px;
    font-weight: 300;
    font-size: 32px;
    font-size: 2em;
}
#main .wrapper {
    width: 100%;
    text-align: center;
}

#news-wrapper {
    width: 100%;
    margin: 60px auto 150px;
    display: flex;
    justify-content: space-evenly;
}
.news-box {
    width: 23%;
    box-shadow: 0px 0px 3px 0px #2eaf2e;
    padding: 20px;
    border-radius: 5px;
}
.news-box h3 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 25px;
}
.news-box p {
    text-align: left;
    margin-bottom: 30px;
    font-weight: 300;
}
.article-button {
    padding: 5px 15px;
    background: #f53a3a;
    color: #fff;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #f53a3a;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.article-button:hover {
    background-color: #fff;
    color: #f53a3a;
    transition: 0.3s;
}
#open-times {
    padding: 10px;
    margin: 20px 0 20px;
}
#open-times p {
    font-size: 24px;
    font-weight: 300;
 }
#open-times ul {
     list-style: none;
     margin: 20px 0 100px;
     font-size: 18px;
     font-weight: 300;
 }
#open-times ul li {
     margin-top: 10px;
 }
main .article-wrapper {
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}
main .article-box {
    padding: 0 10px 10px;
    border-radius: 5px;
    width: 38%;
    height: 280px;
    margin: 30px 0 80px;
    text-align: left;
}

main .article-box h2 {
    margin-bottom: 50px; 
    font-weight: 100;
    font-size: 40px;
}
main .article-box p {
    text-align: left;
    margin-bottom: 35px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
#paprika-img {
    max-width: 100%;
    margin-top: 30px;
}
#open-img  {
    box-shadow: 0px 0px 5px 1px #000000;
    max-width: 100%;
}

/* - Slideshow - */
.slideshow-container {
    width: 70%;
    margin: 0 auto;
    position: relative;
    margin: 0 auto;  
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #717171
}

/* - Footer - */
#footer {
    clear: both;
    width: 100%;
    background: #2eaf2e;
    height: 120px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
#footer .col_1_4 {
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 300;
    line-height: 24px;
}
#footer .col_1_4 a {
    color: #fff;
}
#footer .col_1_4 a:hover {
    color: #d3d3d3;
}
#footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
#footer span {
    margin: 0 20px;
}
/* - Responsive - */
@media only screen and (max-width: 759px) {
    .col_1_5 {
        display: none;
    }
    .col_4_5 {
        width: 100%;
    }
    #header h1 {
        font-size: 26px;
    }
    #navi-box {
        display: none;
    }
}